<div class="user-profile">
    {% if user.files is empty %}
        <img class="user-profile__logo" src="{{ asset('img/undefined.jpg') }}" >
    {% else %}
        {% for imgs in user.files %}
            <img class="user-profile__logo" src="{{ asset(imgs) }}">
        {% endfor %}
    {% endif %}
    <p>
        <strong>{{ 'title.username'|trans }}:</strong>
        {{ user.username }}
    </p>
    <p>
        <strong>{{ 'title.email'|trans }}:</strong>
        {{ user.email }}
    </p>

    <a href="{{ path('profile-edit', {'id': user.id}) }}">
        {{ 'profile.user.edit'|trans }}
    </a>
    |
    <a href="{{ path('forgot-password_request') }}">
        {{ 'password.forgot'|trans }}
    </a>
</div>