{% extends 'form.html.twig' %}

{% block title %}
   Edit user info
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/file-upload.css') }}" />
{% endblock %}

{% block form_header_content %}
    {{ 'profile.user.edit'|trans }}
{% endblock %}

{% block form %}
    {{ form_start(form, {'attr': {'class': 'form'} }) }}

        <div class="form-group">
            {{ form_widget(form.username) }}

            <div class="text-danger">
                {{ form_errors(form.username) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_widget(form.email) }}

            <div class="text-danger">
                {{ form_errors(form.email) }}
            </div>
        </div>

        <div id="list">
            {% if form.uploadedFiles.parent.vars.value.files is empty %}
                <img class="product-image" src="{{ asset('img/undefined.jpg') }}" >
            {% else %}
                {% for imgs in form.uploadedFiles.parent.vars.value.files %}
                    <div class="list__image-container">
                        <img class="product-image" src="{{ asset(imgs) }}" >
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        {% include 'common/upload-input.html.twig' %}

        <button type="submit">
            {{ 'table.product.save'|trans }}
        </button>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/multi-preview.js') }}"></script>
{% endblock %}

