{% extends 'form.html.twig' %}

{% block title %}
   Edit user info
{% endblock %}

{% block form_header_content %}
    {{ 'profile.user.edit'|trans }}
{% endblock %}

{% block form %}
    {{ form_start(form, {'attr': {'class': 'form'} }) }}

        <div class="form-group">
            {{ form_widget(form.username) }}

            <div class="text-danger">
                {{ form_errors(form.username) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_widget(form.email) }}

            <div class="text-danger">
                {{ form_errors(form.email) }}
            </div>
        </div>

        <button type="submit">
            {{ 'table.product.save'|trans }}
        </button>

    {{ form_end(form) }}
{% endblock %}

