<div class="">
    {#{% if user.imageName is empty %}#}
        {#<img src="{{ asset('img/undefined.jpg') }}" >#}
    {#{% else %}#}
        {#<img src="{{ asset('uploads/users-images/' ~ user.imageName) }}">#}
    {#{% endif %}#}
    <p>
        <strong>{{ 'title.username'|trans }}:</strong>
        {{ user.username }}
    </p>
    <p>
        <strong>{{ 'title.email'|trans }}:</strong>
        {{ user.email }}
    </p>

    <a href="{{ path('profile-edit', {'id': user.id}) }}">
        {{ 'profile.user.edit'|trans }}
    </a>
    |
    <a href="">
        {{ 'password.forgot'|trans }}
    </a>
</div>