{% extends 'base.html.twig' %}

{% block title %}
    Admin
{% endblock %}

{% block body %}

    <table class="table table-striped table-hover table-products">

        <thead>
            <tr>
                <th class="text-center">{{ 'table.product.category'|trans }}</th>
                <th class="text-center">{{ 'table.product.actions'|trans }}</th>
            </tr>
        </thead>

        <tbody>
        {% for category in categories %}
            <tr>
                <td class="align-middle text-center">{{ category.getCategoryName() }}</td>

                <td class="align-middle text-center">
                    <a href="{{ path('category-edit', {'id': category.getId()}) }}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="{{ path('category-add') }}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                    {% include 'product/product-delete-form.html.twig' with {'path': path('category-delete', {'id': category.getId()})} %}
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}