{% extends 'form.html.twig' %}

{% block title %}
    Register
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/file-upload.css') }}" />
{% endblock %}

{% block form_header_content %}
    {{ 'product'|trans }}
{% endblock %}

{% block form %}
    {{ form_start(form, {'attr': {'class': 'form'} }) }}

        <div class="form-group">
            {{ form_widget(form.category, {'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}

            <div class="text-danger">
                {{ form_errors(form.name) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_widget(form.price, {'attr': {'class': 'form-control'} }) }}

            <div class="text-danger">
                {{ form_errors(form.price) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_widget(form.description, {'attr': {'class': 'form-control'} }) }}

            <div class="text-danger">
                {{ form_errors(form.description) }}
            </div>
        </div>

        {{ form_label(form.uploadedFiles) }}

        <div id="list">
            {% if form.uploadedFiles.parent.vars.value.files is empty %}
                <img class="product-image" src="{{ asset('img/undefined.jpg') }}" >
            {% else %}
                {% for imgs in form.uploadedFiles.parent.vars.value.files %}
                    <div class="list__image-container">
                        <img class="product-image" src="{{ asset(imgs) }}" >
                        <a class="list__image-container_delete-link img-circle">
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        {% include 'common/upload-input.html.twig' %}

        <button type="submit">
            {{ 'table.product.save'|trans|raw }}
        </button>

    {{ form_end(form) }}
{% endblock %}



{% block javascripts %}
    <script src="{{ asset('build/js/multi-preview.js') }}"></script>
{% endblock %}