{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/product.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/css/import-csv.css') }}" />
{% endblock %}

{% block body %}

    <div class="container">

        <div class="import-csv pull-right">
            {{ form_start(csvForm, {'method': 'post', 'action': path('import-products')}) }}
            <label>
                <p>{{ 'product.import'|trans }}</p>
                {{ form_widget(csvForm.csvFile) }}
            </label>
            <div class="text-info">
            </div>
            {{ form_end(csvForm) }}
        </div>

        {% include 'product/products-table.html.twig' %}

        {{ include('product/pagination.html.twig') }}

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/import.js') }}"></script>
{% endblock %}