<header>
    <nav class="navbar main-menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    Symfony
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    {#<li>#}
                        {#<a class="locale-link" href="{{ path(app.request.get('_route'),#}
                            {#app.request.get('_route_params')|merge({'_locale': 'ru'})) }}">#}
                            {#<img src="{{ asset('img/russia.png') }}">#}
                        {#</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a class="locale-link" href="{{ path(app.request.get('_route'),#}
                            {#app.request.get('_route_params')|merge({'_locale': 'en'})) }}">#}
                            {#<img src="{{ asset('img/english-icon.png') }}">#}
                        {#</a>#}
                    {#</li>#}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if not app.user %}
                        <li>
                            <a href="{{ path('register') }}">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('security_login') }}">
                                <span class="glyphicon glyphicon-log-in"></span>
                                <span>{{ 'title.login'|trans }}</span>
                            </a>
                        </li>
                    {% endif %}

                    {% if app.user %}
                        <li>
                            <a href="{{ path('security_logout') }}">
                                <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }}
                            </a>
                        </li>
                    {% endif %}
                    <a>

                    </a>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="locales">
                            <span class="glyphicon glyphicon-globe"></span>
                            <span class="caret"></span>
                            <span class="sr-only">{{ 'menu.choose_language'|trans }}</span>
                        </a>
                        <ul class="dropdown-menu locales" role="menu" aria-labelledby="locales">

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>