<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Symfony application{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/menu.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/footer.css') }}">

    </head>

    <body>

        {% include "common/header.html.twig" %}

        <div class="container body-container">
            <div class="row">
                
                {{ include('common/messages.html.twig') }}

                <div class="block-center">
                    {% block body %}
                    {% endblock %}
                </div>
                
            </div>

        </div>

        {% include "common/footer.html.twig" %}

        {% block javascripts %}
        {% endblock %}

        <script src="{{ asset('bootstrap/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    </body>
</html>
