<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Symfony Demo application{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/menu.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/footer.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/forms.css') }}">
    </head>

    <body>

        {% include "common/header.html.twig" %}

        <div class="container body-container">
            <div class="row">
                {% block body %}
                    <div class="row">

                        <div id="main" class="block-center">
                            {{ include('default/_flash_messages.html.twig') }}

                            {% block main %}{% endblock %}
                        </div>

                        <div id="sidebar" class="col-sm-3">

                        </div>
                    </div>
                {% endblock %}
            </div>

        </div>

        {% include "common/footer.html.twig" %}

        {% block javascripts %}
        {% endblock %}

        <script src="{{ asset('bootstrap/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    </body>
</html>
