{% extends 'form.html.twig' %}

{% block title %}
    Change Password
{% endblock %}

{% block form_header_content %}
    {{ 'password.change'|trans }}
{% endblock %}

{% block form %}

    {{ form_start(form, {'method': 'post', 'attr': {'class': 'form'} }) }}

        <div class="form-group">
            {{ form_widget(form.plainPassword.first) }}

            <div class="text-danger">
                {{ form_errors(form.plainPassword.first) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_widget(form.plainPassword.second) }}

            <div class="text-danger">
                {{ form_errors(form.plainPassword.second) }}
            </div>
        </div>

        <button type="submit">
            {{ 'table.product.save'|trans }}
        </button>

        {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock %}